@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body{
	background-image: url(../images/bg-desktop.svg);
	background-color: hsl(257, 40%, 49%);
	padding: 3% 0 0 0%;
	font-size: 62.5%;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
}
.logo{
	
	width: 200px;
	margin-left: 4%;
}
.container{
	display: flex;
	margin: 0 auto;
	
}
.left{
	margin-top: 4%;
	margin-left: 4%;
	object-fit: contain;
}

.right{
	font-size: 200%;
    margin-top: 75px;
    margin-left: 50px;
    padding-right: 4%;
}
.right>h1{
	font-weight: 600;
}
.right>p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	opacity: 0.9;
}
.right input{
  text-align: center;
  cursor: pointer;
  margin: 2px 0;

  border-radius: 50px;

  padding: 0.8em 3.6em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;

  color: hsl(257, 40%, 49%);
  background-color: white;
  border:none;
  box-shadow: 0 0 3px black;
}
.links{
	text-align: right;
	padding-right: 4%;
	
}
.links button{
	border-radius: 100%;
	background: transparent;
	border:solid 2px white;
	}

.btn-1, .btn-2{
	margin-right: .9%;
}
.btn-2, .btn-3{
	padding: 1%;
}
.btn-1{
	padding: 1% 1.2%;
}

.fa{
	color: white;
}

@media screen and (max-width: 900px){
        .logo{
                width: 150px;
        }
	.container{
		display: block;
	}
	.container img{
		width: 85%;
		display: block;
		margin: 0 auto;
		
		margin-top: 70px;

	}
	.right{
		font-size: 1.2rem;
		text-align: center;
		padding: 0;
		margin: 65px 30px;

	}
	.right>h1{
	font-size:1.6rem;
}
	.links{
		text-align: center;
		margin-top: 65px;
		padding-right: 0;
		
	}
	.btn-1, .btn-2{
	margin-right: 0%;
}
	.links button{
		margin:0 4px;
		padding: 10px;
	}
	.right button{
		padding: 0.8em 4em;
	}

}
